[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = ">=3.1"
statsmodels = ">=0.10"
pystan = "*"
pandas = "*"
jupyter = "*"
xlrd = "*"

[requires]
python_version = "3.6"
